

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Si el archivo o directorio no existe, enviar la petición a index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
